<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="css/draft-history.css">
</head>
<body>
    <%-include('./includes/header.ejs')%>
    <div class="container options-container">
        <div class="options">
            <h3 class="options-title">Change year <br> to view the draft picks.</h3>
            <form action="/draft-history" method="get">
                <select name="year" id="year" class="year-select">
                    <option value="2018">2018</option>
                    <option value="2017"></option>
                    <option value="2016"></option>
                    <option value="2015"></option>
                    <option value="2014"></option>
                    <option value="2013"></option>
                    <option value="2012"></option>
                    <option value="2011"></option>
                    <option value="2010"></option>
                    <option value="2009"></option>
                    <option value="2008"></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <button type="submit" class="submit-button">Go</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h2 class="title"><%= year %> Draft</h2>
        <div class="player-container">
            <% for (player of players) { %>
                <div class="player">
                    <h2 class="name player-item"><%= player[1] %></h2>
                    <h3 class="team"><%= player[7] %> <%= player[8]%></h3>
                    <div class="information">
                        <p class="round-number">Round: <%= player[3]%></p>
                        <p class="round-pick">Pick: <%=player[4]%></p>
                        <p class="overall-pick">Overall Pick: <%= player[5]%></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>