<%- include('./includes/head') %>
<link rel="stylesheet" href="css/team-roster.css">
<link rel="stylesheet" href="css/options-container.css">
</head>
<body> <!-- style="background-color:#= secondary %>"> --> 
  <%- include('./includes/header.ejs') %>
  <div class="container options-container">
    <div class="options">
      <h3 class="options-title">Change values <br> to change team</h2>
      <form action="/team-roster" method="get">
        <select name="teamID" id="" class="team-select">
          <% if (teamID == 37) {%>
          <option value="37" class="team-option" selected>Atlanta Hawks</option>
          <% } else { %>
          <option value="37" class="team-option">Atlanta Hawks</option>
          <% }%>
          <% if (teamID == 38) {%>
          <option value="38" class="team-option" selected>Boston Celtics</option>
          <% } else {%>
          <option value="38" class="team-option">Boston Celtics</option>
          <% }%>
          <% if (teamID == 51) {%>
          <option value="51" class="team-option" selected>Brooklyn Nets</option>
          <% } else {%>
          <option value="51" class="team-option">Brooklyn Nets</option>
          <% }%>
          <% if (teamID == 66) {%>
          <option value="66" class="team-option" selected>Charlotte Hornets</option>
          <% } else {%>
          <option value="66" class="team-option">Charlotte Hornets</option>
          <% } %>
          <option value="41" class="team-option" selected>Chicago Bulls</option>
          <option value="41" class="team-option">Chicago Bulls</option>
          <option value="39" class="team-option" selected>Cleveland Cavaliers</option>
          <option value="39" class="team-option">Cleveland Cavaliers</option>
          <option value="42" class="team-option" selected>Dallas Mavericks</option>
          <option value="42" class="team-option">Dallas Mavericks</option>
          <option value="43" class="team-option" selected>Denver Nuggets</option>
          <option value="43" class="team-option">Denver Nuggets</option>
          <option value="65" class="team-option" selected>Detroit Pistons</option>
          <option value="65" class="team-option">Detroit Pistons</option>
          <option value="44" class="team-option" selected>Golden State Warriors</option>
          <option value="44" class="team-option">Golden State Warriors</option>
          <option value="45" class="team-option" selected>Housston Rockets</option>
          <option value="45" class="team-option">Housston Rockets</option>
          <option value="54" class="team-option" selected>Indiana Pacers</option>
          <option value="54" class="team-option">Indiana Pacers</option>
          <option value="46" class="team-option" selected>Los Angeles Clippers</option>
          <option value="46" class="team-option">Los Angeles Clippers</option>
          <option value="47" class="team-option" selected>Los Angeles Lakers</option>
          <option value="47" class="team-option">Los Angeles Lakers</option>
          <option value="63" class="team-option" selected>Memphis Grizzlies</option>
          <option value="63" class="team-option">Memphis Grizzlies</option>
          <option value="48" class="team-option" selected>Miami Heat</option>
          <option value="48" class="team-option">Miami Heat</option>
          <option value="49" class="team-option" selected>Milwaukee Bucks</option>
          <option value="49" class="team-option">Milwaukee Bucks</option>
          <option value="50" class="team-option" selected>Minnesota Timberwolves</option>
          <option value="50" class="team-option">Minnesota Timberwolves</option>
          <option value="40" class="team-option" selected>New Orleans Pelicans</option>
          <option value="40" class="team-option">New Orleans Pelicans</option>
          <option value="52" class="team-option" selected>New York Knicks</option>
          <option value="52" class="team-option">New York Knicks</option>
          <option value="60" class="team-option" selected>Oklahoma City Thunder</option>
          <option value="60" class="team-option">Oklahoma City Thunder</option>
          <option value="53" class="team-option" selected>Orlando Magic</option>
          <option value="53" class="team-option">Orlando Magic</option>
          <option value="55" class="team-option" selected>Philadelphia 76ers</option>
          <option value="55" class="team-option">Philadelphia 76ers</option>
          <option value="56" class="team-option" selected>Pheonix Suns</option>
          <option value="56" class="team-option">Pheonix Suns</option>
          <option value="57" class="team-option" selected>Portland Trail Blazers</option>
          <option value="57" class="team-option">Portland Trail Blazers</option>
          <option value="58" class="team-option" selected>Sacremento Kings</option>
          <option value="58" class="team-option">Sacremento Kings</option>
          <option value="59" class="team-option" selected>San Antonio Spurs</option>
          <option value="59" class="team-option">San Antonio Spurs</option>
          <option value="61" class="team-option" selected>Toronto Raptors</option>
          <option value="61" class="team-option">Toronto Raptors</option>
          <option value="62" class="team-option" selected>Utah Jazz</option>
          <option value="62" class="team-option">Utah Jazz</option>
          <option value="64" class="team-option" selected>Washington Wizards</option>
          <option value="64" class="team-option">Washington Wizards</option>
        </select>
        <select name="season" id="" class="season-select">
          <option value="1949-50">1949-50</option>
          <option value="1950-51">1950-51</option>
          <option value="1951-52">1951-52</option>
          <option value="1952-53">1952-53</option>
          <option value="1953-54">1953-54</option>
          <option value="1954-55">1954-55</option>
          <option value="1955-56">1955-56</option>
          <option value="1956-57">1956-57</option>
          <option value="1957-58">1957-58</option>
          <option value="1958-59">1958-59</option>
          <option value="1959-60">1959-60</option>
          <option value="1960-61">1960-61</option>
          <option value="1961-62">1961-62</option>
          <option value="1962-63">1962-63</option>
          <option value="1963-64">1963-64</option>
          <option value="1964-65">1964-65</option>
          <option value="1965-66">1965-66</option>
          <option value="1966-67">1966-67</option>
          <option value="1967-68">1967-68</option>
          <option value="1968-69">1968-69</option>
          <option value="1969-70">1969-70</option>
          <option value="1970-71">1970-71</option>
          <option value="1971-72">1971-72</option>
          <option value="1972-73">1972-73</option>
          <option value="1973-74">1973-74</option>
          <option value="1974-75">1974-75</option>
          <option value="1975-76">1975-76</option>
          <option value="1976-77">1976-77</option>
          <option value="1977-78">1977-78</option>
          <option value="1978-79">1978-79</option>
          <option value="1979-80">1979-80</option>
          <option value="1980-81">1980-81</option>
          <option value="1981-82">1981-82</option>
          <option value="1982-83">1982-83</option>
          <option value="1983-84">1983-84</option>
          <option value="1984-85">1984-85</option>
          <option value="1985-86">1985-86</option>
          <option value="1986-87">1986-87</option>
          <option value="1987-88">1987-88</option>
          <option value="1988-89">1988-89</option>
          <option value="1989-90">1989-90</option>
          <option value="1990-91">1990-91</option>
          <option value="1991-92">1991-92</option>
          <option value="1992-93">1992-93</option>
          <option value="1993-94">1993-94</option>
          <option value="1994-95">1994-95</option>
          <option value="1995-96">1995-96</option>
          <option value="1996-97">1996-97</option>
          <option value="1997-98">1997-98</option>
          <option value="1998-99">1998-99</option>
          <option value="1999-00">1999-00</option>
          <option value="2000-01">2000-01</option>
          <option value="2001-02">2001-02</option>
          <option value="2002-03">2002-03</option>
          <option value="2003-04">2003-04</option>
          <option value="2004-05">2004-05</option>
          <option value="2005-06">2005-06</option>
          <option value="2006-07">2006-07</option>
          <option value="2007-08">2007-08</option>
          <option value="2008-09">2008-09</option>
          <option value="2009-10">2009-10</option>
          <option value="2010-11">2010-11</option>
          <option value="2011-12">2011-12</option>
          <option value="2012-13">2012-13</option>
          <option value="2013-14">2013-14</option>
          <option value="2014-15">2014-15</option>
          <option value="2015-16">2015-16</option>
          <option value="2016-17">2016-17</option>
          <option value="2017-18">2017-18</option>
          <option value="2018-19">2018-19</option>
        </select>
        <button type="submit" class="submit-button">Go</button>
      </form>
    </div>
  </div>
  <div class="container teams-container" >
    <h2 class="team-name"><%= players[0][0] %></h2>
    <div class="players-container">
      <% for (player of players) {%>
        <div class="player">
          <h2 class="name player-item"><%= player[3] %></h2>
          <h4 class="number player-item">
            <% if (player[4] == " ") {%>
              <span style="font-style: italic;">no number</span>
            <% } else { %>
              #<span class="number"><%= player[4]%></span>
            <% } %>
          </h4>
          <div class="information-container">
            <p class="position player-item information">
              POSITION: <span class="pos data"><%= player[5]%></span>
            </p>
            <p class="height-box player-item information">
              HEIGHT: (ft-in) <span class="height data"><%= player[6] %></span>
            </p>
            <p class="weight-box player-item information">
              WEIGHT: (lbs) <span class="weight data"><%= player[7] %></span>
            </p>
            <p class="birth-date player-item information">
              BIRTH-DATE: <span class="date data"><%= player[8] %></span>
            </p>
            <p class="age-box player-item information">
              AGE: <span class="age data"><%= player[9] %></span>
            </p>
          </div>
          
        </div>
      <% } %>
    </div>
  </div>
</body>